@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #49A657;
}

#box1 {
    margin-top: 60px; 
    color: #f4faf5;
    height: 100px;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    font-size:500%
}
#box2 {
    position: relative;
    color: #f4faf5;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 30px 30px 20px 30px;
    border-bottom: 3px solid #e4f3e6;
    font-size:180%
}
#box3{
    position: relative;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    margin: -82px 30px 30px 50px;
    line-height: 0.8;
    font-size: 100%;
}
#box0 {
    position: relative;
    color: #f4faf5;
    text-align: left;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 120px 30px 80px 30px;
    border-bottom: 3px solid #e4f3e6;
    font-size:140%
}
#box01{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    margin: -178px 30px 30px 50px;
    line-height: 0.4;
    font-size: 150%;
}
.vl {
    border-left: 3px solid #f4faf5;
    height: 5000px;
    position: absolute;
    left: 9%;
    margin-left: -3px;
    top: 380px;
  }
#box4{
    display: block;
    position: absolute;
    padding: 10px;
    top: 445px;
    left: 16%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box4 > img{ width: 100%;}

#box04{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 16%;
    top: 970px;
    line-height: 0.8;
    font-size: 100%;
}        

#box5{
    display: block;
    position: absolute;
    padding: 10px;
    top: 800px;
    left: 50%;
    background-color: #f4faf5;
    overflow: visible;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box5 > img{ width: 100%;}

#box05{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 52%;
    top: 1267px;
    font-size: 100%;
}        

#box6{
    display: block;
    position: absolute;
    padding: 10px;
    top: 1340px;
    left: 50%;
    background-color: #f4faf5;
    overflow: visible;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box6 > img{ width: 100%;}

#box06{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 52%;
    top: 1810px;
    font-size: 100%;
}       

#box7{
    display: block;
    position: absolute;
    padding: 10px;
    top: 1890px;
    left: 50%;
    background-color: #f4faf5;
    overflow: visible;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box7 > img{ width: 100%;}

#box07{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 52%;
    top: 2360px;
    font-size: 100%;
}       
#box8{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 52%;
    top: 2410px;
    line-height: 0.8;
    font-size: 100%;
}    
#box9{
    display: block;
    position: absolute;
    padding: 10px;
    top: 2500px;
    left: 16%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box9 > img{ width: 100%;}

#box09{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 52%;
    top: 3095px;
    line-height: 0.8;
    font-size: 100%;
}  