@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #49A657;
}

#box1 {
    margin-top: 60px; 
    color: #f4faf5;
    height: 100px;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    font-size:500%
}
#box2 {
    position: relative;
    color: #f4faf5;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 30px 30px 20px 30px;
    border-bottom: 3px solid #e4f3e6;
    font-size:180%
}
#box3{
    position: relative;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    margin: -82px 30px 30px 50px;
    line-height: 0.8;
    font-size: 100%;
}
#box0 {
    position: relative;
    color: #f4faf5;
    text-align: left;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 120px 30px 80px 30px;
    border-bottom: 3px solid #e4f3e6;
    font-size:140%
}
#box01{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    margin: -178px 30px 30px 50px;
    line-height: 0.4;
    font-size: 150%;
}
.vl {
    border-left: 3px solid #f4faf5;
    height: 2000px;
    position: absolute;
    left: 9%;
    margin-left: -3px;
    top: 380px;
  }
#box4{
    display: block;
    position: absolute;
    padding: 16px;
    top: 445px;
    left: 20%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box4 > img{ width: 100%;}

#box04{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 20%;
    top: 975px;
    line-height: 0.8;
    font-size: 100%;
}        

#box5{
    display: block;
    position: absolute;
    padding: 10px;
    top: 1150px;
    left: 55%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box5 > img{ width: 100%;}

#box05{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 55%;
    top: 1100px;
    font-size: 100%;
}        

#box6{
    display: block;
    position: absolute;
    padding: 10px;
    top: 1555px;
    left: 55%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box6 > img{ width: 100%;}

#box06{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 55%;
    top: 1500px;
    font-size: 100%;
}       

#box7{
    display: block;
    position: absolute;
    padding: 10px;
    top: 1970px;
    left: 55%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box7 > img{ width: 100%;}

#box07{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 55%;
    top: 1920px;
    font-size: 100%;
}       
#box8{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 55%;
    top: 2260px;
    line-height: 0.8;
    font-size: 100%;
}    
#box9{
    display: block;
    position: absolute;
    padding: 10px;
    top: 1150px;
    left: 20%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box9 > img{ width: 100%;}

#box09{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 20%;
    top: 1850px;
    line-height: 0.8;
    font-size: 100%;
}  
#box10{
    position: relative;
    color: #f4faf5;
    text-align: left;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 2050px 30px 80px 30px;
    border-bottom: 3px solid #e4f3e6;
    font-size:140%
}
#box11{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    margin: -70px 30px 30px 50px;
    line-height: 0.4;
    font-size: 150%;
}
#box12{
    position: relative;
    color: #f4faf5;
    text-align: left;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 110px 30px 80px 30px;
    border-bottom: 3px solid #e4f3e6;
    font-size:140%
}
.vl1 {
    border-left: 3px solid #f4faf5;
    height: 2580px;
    position: absolute;
    left: 9%;
    margin-left: -3px;
    top: 2550px;
  }
  #box13{
    display: block;
    position: absolute;
    padding: 10px;
    top: 2650px;
    left: 20%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#box13 > img{ width: 100%;}

#box14{
  display: block;
  position: absolute;
  padding: 10px;
  top: 2650px;
  left: 55%;
  background-color: #f4faf5;
  overflow: visible;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
#box14 > img{ width: 100%;}

#box013{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 20%;
    top: 3210px;
    line-height: 0.8;
    font-size: 100%;
}  

#box15{
    display: block;
    position: absolute;
    padding: 10px;
    top: 3400px;
    left: 20%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  #box15 > img{ width: 100%;}

#box015{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 20%;
    top: 3960px;
    line-height: 0.8;
    font-size: 100%;
}  

#box16{
    display: block;
    position: absolute;
    padding: 10px;
    top: 4100px;
    left: 55%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
#box16 > img{ width: 100%;}

#box17{
    display: block;
    position: absolute;
    padding: 10px;
    top: 4400px;
    left: 55%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
#box17 > img{ width: 100%;}

#box18{
    display: block;
    position: absolute;
    padding: 10px;
    top: 4700px;
    left: 55%;
    background-color: #f4faf5;
    overflow: visible;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
#box18 > img{ width: 100%;}

#box018{
    position: absolute;
    color: #f4faf5;
    font-family: 'SEBANG_Gothic_Bold';
    left: 55%;
    top: 4940px;
    line-height: 0.8;
    font-size: 100%;
}  

#box19{
    position: relative;
    color: #f4faf5;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 2630px 30px 80px 30px;
    border-top: 3px solid #e4f3e6;
    font-size:140%
}
