@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR');
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



h1{
    margin: 0; padding: 0;
}
header {
    position: relative;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 200px;
    margin: 0 auto;
    z-index: 1;
}
main {
    position: relative;
    width: 100%;
    top: 0;
    margin: 39% auto 35%;
}
footer {
    position: relative;
    width: 100%;
    margin: -30% auto;
    height: 20%;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

html, p {
    margin: 0;
    padding: 0;
}

#ani1 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 70px;
    left: 70px;
    width: 200px;
    height: 200px;

    animation-name: rotate;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
#ani1 > img{width: 300%;}

#ani2 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 70px;
    left: 70px;
    width: 200px;
    height: 200px;

    animation-name: rotate;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
#ani2 > img{width: 150%;}

#ani3 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 700px;
    left: 1300px;
    width: 200px;
    height: 200px;

    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
#ani3 > img{width: 500%;}


body {
    margin: 0; padding: 0;
    font-family: 'SBAggroB';
    animation-name: test-animation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes test-animation {
    0% {background-colo: #ffffff; }
    33% { background-color: #fffeea }
    66% { background-color: rgb(255, 255, 255); }
    100% { background-color: #f9f1ff }
}


/*------header------*/


a {
    text-decoration: none;
    color: #254d33d7;
}
a:hover {
    color: #e4ffeed7;
}
#mainmenu {
    position: absolute;
    list-style: none;
    text-align: center;
    width: 50%;
    top: 45%;
    left: 36.8%;
    color: #254d33d7;
}

#mainmenu > li {
    float: left;
    padding: 8px;
    margin: 0 4px;
    background-color: #ffffffb3;
}

#item2sub {
    overflow: hidden;
    height: 0px;
    transition: 0.5s;
}
#item2:hover > #item2sub {
    height: 275px;
}
.submenu {
    list-style: none;
    margin: 0;
    padding:10px;
}
.submenu > li{
    list-style: none;
    margin: 0;
    padding:5px;
}

#egg{
    position: absolute;
    text-align: center;
    width: 100% ;
    top: 2%;
    left: 0%;
}
#egg > img {width: 7em;}

#top {
    display: block;
    position: static;
    text-align: center;
    width: 100%;
    left: 0%;
    top: 40%;
    height: 230%;
    background-image: linear-gradient(#408558d7, rgba(255, 255, 255, 0));
    z-index: -1000;
}


#so{
    position: relative;
    text-align: center;
    width: 100%;
    top: -205px;
    z-index: -900;
}
#so > img {width: 98.5%;}

#soline{
    position: relative;
    text-align: center;
    width: 100%;
    top: -2px;
    border-bottom: 3px solid rgb(64, 133, 88);
    margin-bottom: 100px;
}



#title{
    position: relative;
    text-align: center;
    font-size: 4.3em;
    width: 100%;
    top: 30%;
    margin-bottom: 2%;
    color: #254d33d7;
}

#item-grid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 70%;
    left: 15%;
    margin-bottom: 24px;
}
.item-container {
    position: relative;
    width: 33.3333333%;
    padding-top: 33.3333333%;
    background-image: center;
} 
.item {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    overflow: hidden;
}

.item > img {
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #40855882;    
}
.item:hover .overlay {
    opacity: 1;
}  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#footer{
    position: static;
    text-align: center;
    font-size: 20px;
    padding-top: 1%;
}


@media screen and (max-width: 960px) {
    #mainmenu {
        text-align: center;
        font-size: 7px;
        padding: 8px;
        width: 50%;
        top: 70%;
        left: 25%;
    } 
    #item2sub {
        overflow: hidden;
        height: 0px;
        transition: 0.5s;
    }
    #item2:hover > #item2sub {
        height: 210px;
    }
    .submenu {
        list-style: none;
        margin: 0;
        padding:10px;
    }
    .submenu > li{
        list-style: none;
        margin: 0;
        padding: 5px 0px;
    }
}
@media screen and (max-width: 520px) {
    #mainmenu {
        text-align: center;
        font-size: 7px;
        padding: 8px;
        width: 50%;
        top: 45%;
        left: 25%;
    } 
    #item2sub {
        overflow: hidden;
        height: 0px;
        transition: 0.5s;
    }
    #item2:hover > #item2sub {
        height: 210px;
    }
    .submenu {
        list-style: none;
        margin: 0;
        padding:10px;
    }
    .submenu > li{
        list-style: none;
        margin: 0;
        padding: 5px 0px;
    }
}



@media screen and (max-width: 960px) {
    main {
        top: 10%;
        margin-bottom: 60%;
    
    } 
    #title {
        top: 30%;
        width: 95%;
        font-size: 2em;
    
    } 
}
@media screen and (max-width: 520px) {
    main {
        top: 10%;
        margin-bottom: 60%;
    
    }
    #title {
        top: 30%;
        width: 50%;
        left: 14.3%;
        font-size: 2em;
    }  
}


@media screen and (max-width: 960px) {
    .item-container {
        width: 50%;
        padding-top: 50%;
    } 
    #social {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .item-container {
        width: 100%;
        padding-top: 100%;
    } 
    #social {
        display: none;
    }
} 

@media screen and (max-width: 960px) {
    #ani1{ 
        top: -20px;
        left: -20px;
        width: 150px;
        height: 150px;  
    }
    #ani2{
        top: -20px;
        left: -20px;
        width: 150px;
        height: 150px; 
    }
    #ani3{
        top: 700px;
        left: 600px;
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 520px) {
    #ani1{ 
        top: -20px;
        left: -20px;
        width: 150px;
        height: 150px;  
    }
    #ani2{
        top: -20px;
        left: -20px;
        width: 150px;
        height: 150px; 
    }
    #ani3{
        top: 700px;
        left: 600px;
        width: 170px;
        height: 170px;
    }
} 